<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.darren.custom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FuckingCustomView">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".v1.V1Activity" />
        <activity android:name=".v2.V2Activity" />
        <activity android:name=".v3.V3Activity" />
        <activity android:name=".v4.V4Activity" />
        <activity android:name=".v5.V5Activity" />
        <activity android:name=".v6.V6Activity" />
        <activity android:name=".v7.V7Activity" />
        <activity android:name=".v8.V8Activity" />
        <activity android:name=".v9.V9Activity" />
        <activity android:name=".v10.V10Activity"/>
        <activity android:name=".v11.V11Activity"/>
        <activity android:name=".v12.V12Activity"/>
        <activity android:name=".v13.V13Activity"/>


    </application>

</manifest>